<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>
    <title>Dashboard</title>
    
    <baseurl href="http://localhost:8080/">
    <link rel="stylesheet" href="src/css/index.css">
      <link rel="stylesheet" href="src/css/landingPage.css">
</head>


<body>
   
 <navbar-component>
    
     </navbar-component>
     <div id="map">
         
         </div>
     
 
   
</body>
<script src='../src/components/navbar.js' > </script>
<script src='../src/js/map.js' > </script>
</html>
